# Gradle files
.gradle
/build

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles

# Android Studio captures folder
/captures

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# macOS
.DS_Store

# Vim
*~
.swp
